<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1 class="display-4">Sobre o Blog</h1>
      <p class="lead">
        Este é um espaço dedicado a compartilhar conhecimentos, experiências e
        ideias sobre tecnologia, desenvolvimento e muito mais.
      </p>
      <hr class="my-4" />
      <p>
        Meu nome é [Seu Nome], e sou um desenvolvedor apaixonado por criar
        soluções inovadoras e ajudar outros a aprenderem e crescerem.
      </p>
      <p>
        Este blog foi criado com Angular e ng-bootstrap, e é um exemplo de como
        podemos construir aplicações modernas e responsivas.
      </p>
      <a class="btn btn-primary btn-lg" routerLink="/home" role="button">
        Voltar para a Home
      </a>
    </div>
  </div>
</div>
