<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1 class="display-4 fw-bold text-primary">Sobre o Blog</h1>
      <p class="lead text-muted">
        Bem-vindo ao meu blog! Aqui, compartilho análises, dicas e novidades
        sobre o mundo dos jogos, desde os lançamentos mais aguardados até os
        clássicos que marcaram gerações.
      </p>
      <hr class="my-4" />
      <div class="text-start">
        <h3 class="h4 text-secondary">Sobre o Autor</h3>
        <p><strong>Nome:</strong> Gustavo Medeiros</p>
        <p><strong>RA:</strong> 234858</p>
      </div>
      <a
        class="btn btn-primary btn-lg mt-4 shadow-sm"
        routerLink="/home"
        role="button"
      >
        Voltar para a Home
      </a>
    </div>
  </div>
</div>
