<div class="container mt-5" *ngIf="post">
  <div class="jumbotron text-center p-5 rounded bg-light shadow">
    <h2 class="display-5 fw-bold text-primary">{{ post.titulo }}</h2>
    <p class="lead text-muted mt-3" [innerHTML]="post.conteudo"></p>
    <p class="text-muted">
      <small>Publicado em: {{ post.data }}</small>
    </p>
    <a routerLink="/posts" class="btn btn-secondary mt-3 shadow-sm">Voltar</a>
  </div>
</div>

<div *ngIf="!post">
  <div class="jumbotron text-center p-5 rounded bg-light shadow">
    <p class="h4 text-secondary">Post não encontrado.</p>
    <a routerLink="/posts" class="btn btn-secondary mt-3 shadow-sm">Voltar</a>
  </div>
</div>
